<header>
  <div class="container">
    <ul>
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
      <li><a routerLink="/news" routerLinkActive="active">News</a></li>
      <li><a routerLink="/route" routerLinkActive="active">Route</a></li>
      <li><a routerLink="/life-cycle" routerLinkActive="active">Lifecycle</a></li>
      <!-- <li><a routerLink="/interaction" routerLinkActive="active">Interaction</a></li> -->
      <!-- <li><a routerLink="/directive" routerLinkActive="active">Directive</a></li> -->
      <!-- <li><a routerLink="/register" routerLinkActive="active">Register</a></li> -->
      <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
      <!-- <li><a routerLink="/demo" routerLinkActive="active">demo</a></li> -->
      <!-- <li><a routerLink="/pipes" routerLinkActive="active">Pipes</a></li> -->
      <!-- <li><a routerLink="/service" routerLinkActive="active">Service</a></li> -->
      <li><a routerLink="/forms" routerLinkActive="active">Forms</a></li>
      <li><a routerLink="/admin" routerLinkActive="active">Admin</a></li>
      <!-- <li><a routerLink="/product" routerLinkActive="active">product</a></li> -->
      <!-- <li><a routerLink="/feature" routerLinkActive="active">Feature</a></li> -->
      <li><a routerLink="/lazy-load" routerLinkActive="active">Lazy Load</a></li>
      <li><button (click)="logout()">Logout</button></li>
      
    </ul>
  </div>
</header>
