<div class="tab-content" *ngIf="id === 1">
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore expedita voluptatum non iure vel suscipit placeat est dolore nesciunt neque, inventore quaerat repellendus pariatur molestiae ex explicabo tempore consequuntur odit!
  <div class="buttons-set p-t-15">
    <button class="btn" (click)="goTo(4)">Go to tab 4</button>
  </div>
</div>
<div class="tab-content" *ngIf="id === 2">
    Labore expedita voluptatum non iure vel suscipit placeat est dolore nesciunt neque, inventore quaerat repellendus pariatur molestiae ex explicabo tempore consequuntur odit!Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
  <div class="buttons-set p-t-15">
    <button class="btn" (click)="goTo(2)">Go to tab 2</button>
  </div>
</div>
<div class="tab-content" *ngIf="id === 3">
  Labore expedita voluptatum non iure vel suscipit placeat est dolore nesciunt neque Lorem ipsum dolor sit amet consectetur, adipisicing elit. , inventore quaerat repellendus pariatur molestiae ex explicabo tempore consequuntur odit!
  <div class="buttons-set p-t-15">
    <button class="btn" (click)="goTo(1)">Go to tab 1</button>
    <button class="btn" (click)="openGift(true)">Open gift</button>
  </div>
</div>
<div class="tab-content" *ngIf="id === 4">
  inventore quaerat repellendus pariatur Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore expedita voluptatum non iure vel suscipit placeat est dolore nesciunt neque, inventore quaerat repellendus pariatur molestiae ex explicabo tempore consequuntur odit!
  <div class="buttons-set p-t-15">
    <button class="btn" (click)="goTo(3)">Go to tab 3</button>
  </div>
</div>
