<form [formGroup]="registerForm" action="" (ngSubmit)="register(registerForm)">
  <div class="input-box">
    <label for="">First Name</label>
    <input type="text" formControlName="firstName">
  </div>
  <div class="input-box">
    <label for="">Last Name</label>
    <input type="text" formControlName="lastName">
  </div>
  <div class="input-box" formGroupName="address">
    <label for="">Address</label>
    <input type="text" formControlName="street" placeholder="Street">
    <input type="text" formControlName="city" placeholder="City">
    <input type="text" formControlName="state" placeholder="State">
  </div>
  <div class="input-box">
    <label for="">Passwork</label>
    <input type="password" formControlName="passwork">
  </div>
  <div class="input-box">
    <label for="">Confirm passwork</label>
    <input type="password" formControlName="confirmPassword">
  </div>
  <div>
      <button class="btn">Submit</button>
  </div>
</form>
